.returnBtn {
    padding: 18px 38px; 
    border-radius: 20px;
    font-size: 15pt;
    position: absolute;
    bottom: 22%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border: 1.2px solid rgba(0, 0, 0, 0.5);
    background: none;
    outline: none;
    transition: .3s;
}

.returnBtn:hover { 
    background: rgba(255, 255, 255, .4);
    padding: 18px 50px;
}

.message-box {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}

.message-box h1 {
    margin: 38px 0px;
    font-size: 31pt;
}

.message-box h2 {
    margin-bottom: 30px;
    font-size: 21pt;
    opacity: .75;
}

.message-box p {
    font-size: 17pt;
    opacity: .75;
}
