#Game-box {
    position: absolute;
    width: 74%;
    height: 58%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, .4);
    border-radius: 30px;
    box-shadow: 0px 20px 35px rgba(0, 0, 0, .4);
}

#Game-box img {
    position: absolute;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: rgba(255, 255, 255, .5);
}

.userInterface {
    position: absolute;
    right: 0;
    height: 100%;
    width: 60.5%;
}

#word {
    letter-spacing: 22px;
    font-size: 20pt;
    padding: 19px 18px 24px 40px;
    background: rgba(255, 255, 255, .7);
    border-radius: 18px;
}

#word-box {
    position: absolute;
    width: 100%;
    bottom: 14%;
    text-align: center;
}

.btns-box {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
}

.userInterface header {
    position: absolute;
    top: 5.8%;
    width: 100%;
    text-align: center;
    font-size: 30pt;
    font-weight: 800;
    font-family: sans-serif;
    opacity: .7;
}

.categText {
    position: absolute;
    bottom: 12px;
    left: 8px;
    font-size: 14pt;
    opacity: .8;
    font-family: sans-serif;
    font-style: oblique;
    font-weight: 700;
}
