.theme-box {
    display: inline-flex;
    position: absolute;
    border-top-left-radius: 25px;
    bottom: 0px;
    right: 0px;
    padding: 15px 25px;
    list-style: none;
    background: rgba(255, 255, 255, .4);
    transition: .7s;
    transform: translateX(430px);
}

.theme-box:hover {
    background: rgba(255, 255, 255, .7);
    transform: translateY(0);
}

.theme-box span {
    margin-right: 50px;
    transform: translateY(25%);
    font-size: 15pt;
}

.theme-box span i {
    margin: 0px 12px;
}

.btnTheme {
    padding: 20px;
    margin: 0px 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 3px 12px 4px rgba(0, 0, 0, .3);
    transition: .4s;
}

.selected {
    pointer-events: none;
    opacity: 0;
}
